@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1594975763409'); /* IE9 */
  src: url('iconfont.eot?t=1594975763409#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1594975763409') format('woff'),
  url('iconfont.ttf?t=1594975763409') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1594975763409#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asm-shishijisuanpingtai1x:before {
  content: "\e671";
}

.asm-shujuguandao1x:before {
  content: "\e672";
}

.asm-yuanshuju1x:before {
  content: "\e673";
}

.asm-biaoqianxitong1x:before {
  content: "\e674";
}

.asm-shujuzhiliang1x:before {
  content: "\e675";
}

.asm-shujukaifapingtai1x:before {
  content: "\e676";
}

.asm-zuoyezhongxin1x:before {
  content: "\e677";
}

.asm-shujumoxing1x:before {
  content: "\e678";
}

.asm-shishizhibiaopingtai1x:before {
  content: "\e679";
}

.asm-ziyuanguanlipingtai1x:before {
  content: "\e67a";
}

.asm-gongchengguanli1x:before {
  content: "\e67b";
}

.asm-AgileBI1x:before {
  content: "\e67c";
}

.asm-shujufuwu1x:before {
  content: "\e67d";
}

.asm-myProcess-wodyijiao:before {
  content: "\e60f";
}

.asm-myConfig-liuchengmoban:before {
  content: "\e667";
}

.asm-myMessage-shoujianxiang1:before {
  content: "\e668";
}

.asm-myProcess-lwodedaiban:before {
  content: "\e669";
}

.asm-myProcess-lwodeshenqing:before {
  content: "\e66a";
}

.asm-myProcess-lwodedailiren:before {
  content: "\e66b";
}

.asm-myProcess-lyiban:before {
  content: "\e66d";
}

.asm-myMessage-zhanneixin:before {
  content: "\e66e";
}

.asm-myConfig-qitashezhi:before {
  content: "\e66f";
}

.asm-myLimit-yonghuzuguanli:before {
  content: "\e670";
}

.asm-myMessage-fajianxiang1:before {
  content: "\e65c";
}

.asm-myConfig-kaifagongju:before {
  content: "\e65d";
}

.asm-myProject-xiangmuguanli:before {
  content: "\e65e";
}

.asm-myLimit-jiaoseguanli:before {
  content: "\e65f";
}

.asm-liuchengzhongxin:before {
  content: "\e660";
}

.asm-myProcess-liuchengshenqing:before {
  content: "\e661";
}

.asm-myAssets-gongjugaikuang:before {
  content: "\e662";
}

.asm-myLimit-yonghuguanli:before {
  content: "\e663";
}

.asm-myConfig-daimawendang:before {
  content: "\e664";
}

.asm-myAssets-ziyuangaikuang:before {
  content: "\e665";
}

.asm-xiaoxi:before {
  content: "\e666";
}

.asm-xiangmu:before {
  content: "\e61c";
}

.asm-myLimit-dangqianhuoyuerenshu:before {
  content: "\e719";
}

.asm-myLimit-zuorihuoyuerenshu:before {
  content: "\e61b";
}

.asm-myMessage-fajianxiang:before {
  content: "\e694";
}

.asm-myMessage-shoujianxiang:before {
  content: "\e6b0";
}

.asm-yuan:before {
  content: "\e657";
}

.asm-xiangmuguanli:before {
  content: "\e68f";
}

.asm-gaikuang:before {
  content: "\e82f";
}

.asm-caozuojiemiantubiao---_yuan:before {
  content: "\e66c";
}

.asm-sujuyuce:before {
  content: "\e644";
}

.asm-shuxian:before {
  content: "\e638";
}

.asm-youxiang:before {
  content: "\e72d";
}

.asm-myLimit-yonghu:before {
  content: "\e649";
}

.asm-myLimit-yonghuzu:before {
  content: "\e7d9";
}

.asm-myLimit-guanlidating:before {
  content: "\e61a";
}

